@use 'color';

.boton{
    border: none;
    border-radius: 2rem;
    padding-inline: 15rem;
    padding-block: 7rem;
    cursor: pointer;
    margin-inline-end: 1rem;
    margin-block-end: 15rem;
    font-weight: 500;
}

@mixin color-boton ($fondo, $texto: color.$negro ){
    color: $texto;
    background-color: $fondo;
}

.boton--principal{
    @extend .boton;
    @include color-boton(color.$boton-principal, color.$blanco);

}

.boton--secundario{
    @extend .boton;
    @include color-boton(color.$gris);

}