@use 'color';
@use 'display';

.footer {
    min-block-size: 80rem;
    background-color: color.$oscuro;
    margin-block-start: 0;
    @include display.flex(center, center);
    &__contenido {
        text-align: center;
        
        // con rem no funca la media query
        @media (min-width: 1400px){
            inline-size: 60%;
            margin: auto;
        }
    }
}
