@use 'color';
@use 'display';

// Máximo hasta 3 niveles de anidacion, es decir dentro de $__nav puede ir otro nivel por ej
.menu {
    position: fixed;
    top: 0;
    border-top: 30rem solid color.$oscuro;
    inline-size: 100%;

    // Nesting o anicación ( el selector & llama al padre, en este caso .main y le concatenamos lo otro

    &__nav {
        @include display.flex(space-between, center);
    }

    &__logo {
        inline-size: 100rem;
        block-size: 20rem;
    }

    &__lista {
        list-style-type: none;
        display: flex;
        padding: 0;
    }

    &__enlace {
        text-decoration: none;
        display: inline-block;
        color: color.$gris;
        font-size: 16rem;
        font-weight: bold;
        padding: 10rem; // Para separar los elementos de la lista, aunque podria haberse usado gap

        &:hover{
            color: color.$principal;
            transform: scale(1.1); // aumenta un 10% el tamaño 

        }
    }


}
