@use 'display';
@use 'fuente';
@use 'color';

.servicios {
    div {
        text-align: center;
    }
    &__tipo {
        @include display.flex(center, center);

        i {
            font-size: fuente.$size-h1;
            color: color.$principal;
        }

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
    }

    @media (min-width: 1400px) {
        inline-size: 60%;
        margin: auto;
    }
}
